.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
}
.box {
  border: 1px solid black;
}

.box1 {
  background-color: #ff0001;
}

.box2 {
  background-color: #018101;
}

.box3 {
  background-color: #fe4400;
}

.box4 {
  background-color: #81007f;
}

.box5 {
  background-color: #fe1594;
}

.box6 {
  background-color: #0101fe;
}

.box7 {
  background-color: #a42a2a;
}

.box8 {
  background-color: #ef82ee;
}

.box9 {
  background-color: #4b0180;
}

.box10 {
  background-color: #fed601;
}

.box11 {
  background-color: #609ca1;
}

.box12 {
  background-color: #01feff;
}
