body {
  margin-top: 0;
}

.circle {
  width: 300px;
  height: 300px;
  border: solid 20px #b78f84;
  border-radius: 50%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle-1 {
  width: 300px;
  height: 300px;
  border: solid 20px #fc0100;
  box-sizing: border-box;
  border-radius: 50%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle-2 {
  width: 283px;
  height: 283px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle-container {
  height: 100vh;
  position: relative;
}

.bg-color-purple {
  background-color: #8e307a;
}

.bg-color-aqua {
  background-color: #26a2ba;
}

.bg-color-orange {
  background-color: #fe6552;
}

.circle-text {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  padding-top: 40%;
  font-weight: 700;
}
